<div id="toggle" (click)="displayNav = !displayNav" [ngClass]="{'toggled':displayNav}">
	<ul>
		<li>
			<a href="#">
				<span class="line l1"></span>
        <span class="line l2"></span>
				<span class="line l3"></span>
			</a>
		</li>
	</ul>
</div>

<section id="full-screen-nav" class="panel" [ngClass]="{'active':displayNav}">
	<nav id="nav">
		<ul>
			<li>
				<a href="#">About Me
					<span class="desc">
						what we do, &amp;
						why we do it
					</span>
				</a>
			</li>
			<li>
				<a href="#">My Work
					<span class="desc">
						we are passionate about clean
						code
					</span>
				</a>
			</li>
			<li>
				<a href="#">Abilities
					<span class="desc">
						we are lovers of fresh
						aesthetics &amp; clean code
					</span>
				</a>
			</li>
			<li>
				<a href="#">Places I've been to
					<span class="desc">
						we only export goods that we
						would use
					</span>
				</a>
			</li>
			<li>
				<a href="#">Let's Chat
					<span class="desc">
						let's chat about your next
						project?
					</span>
				</a>
			</li>
		</ul>
	</nav>
</section>
