<div id="toggle" (click)="displayNav=!displayNav" [ngClass]="{'toggled':displayNav}">
	<ul>
		<li>
			<a>
				<span class="line l1"></span>
        <span class="line l2"></span>
				<span class="line l3"></span>
			</a>
		</li>
	</ul>
</div>

<section id="full-screen-nav" class="panel" [ngClass]="{'active':displayNav}">
	<nav id="nav">
		<ul>
			<li>
				<a routerLink="/home" routerLinkActive="active" (click)="displayNav=!displayNav">Home
					<span class="desc">what I do, &amp; why I do it</span>
				</a>
			</li>
			<li>
				<a routerLink="/projects" routerLinkActive="active" (click)="displayNav=!displayNav">My Work
					<span class="desc">The best way to get a project done faster is to start sooner</span>
				</a>
			</li>
			<li>
				<a routerLink="/blog" routerLinkActive="active" (click)="displayNav=!displayNav">Blog
					<span class="desc">I love software and technology</span>
				</a>
			</li>
			<li>
				<a routerLink="/contact" routerLinkActive="active" (click)="displayNav=!displayNav">Let's Chat
					<span class="desc">let's chat about your next project?</span>
				</a>
			</li>
		</ul>
	</nav>
</section>
