<div id="toggle" (click)="displayNav=!displayNav" [ngClass]="{'toggled':displayNav}">
	<ul>
		<li>
			<a>
				<span class="line l1"></span>
        <span class="line l2"></span>
				<span class="line l3"></span>
			</a>
		</li>
	</ul>
</div>

<section id="full-screen-nav" class="panel" [ngClass]="{'active':displayNav}">
	<nav id="nav">
		<ul>
			<li>
				<a routerLink="/projects" routerLinkActive="active" (click)="displayNav=!displayNav">About Me
					<span class="desc">
						what we do, &amp;
						why we do it
					</span>
				</a>
			</li>
			<li>
				<a routerLink="/projects" routerLinkActive="active" (click)="displayNav=!displayNav">My Work
					<span class="desc">
						we are passionate about clean
						code
					</span>
				</a>
			</li>
			<li>
				<a routerLink="/projects" routerLinkActive="active" (click)="displayNav=!displayNav">Abilities
					<span class="desc">
						we are lovers of fresh
						aesthetics &amp; clean code
					</span>
				</a>
			</li>
			<li>
				<a routerLink="/contact" routerLinkActive="active" (click)="displayNav=!displayNav">Let's Chat
					<span class="desc">
						let's chat about your next
						project?
					</span>
				</a>
			</li>
		</ul>
	</nav>
</section>
