<!-- Desktop -->
<md-sidenav-container fullscreen fxHide fxShow.gt-sm>
  <md-sidenav #sidenav mode="side" opened="true">
    <div class="sidenav" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
      <a href="/">
        <img src="assets/logo-128.png" alt="Created By Abdul Baasith">
      </a>
      <a href="">Blog</a>
      <a href="">About Me</a>
      <a href="">Projects</a>
      <a href="">Contact</a>
      <hr>
    </div>
  </md-sidenav>
  <div class='main-container'>
    <h3>Main content</h3>
  </div>
</md-sidenav-container>


<!-- Mobile -->
<md-toolbar fxShow fxHide.gt-sm>

  <a href="/">
    <img src="assets/logo-64.png" alt="Created By Abdul Baasith">
  </a>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div class="nav" fxLayout="row" fxHide fxShow.sm fxLayoutGap="20px">
    <a href="">Blog</a>
    <a href="">About Me</a>
    <a href="">Projects</a>
    <a href="">Contact</a>
  </div>
  <button class="nav" md-button (click)="showHide = !showHide" fxShow fxHide.sm>
     <md-icon>menu</md-icon>
  </button>

</md-toolbar>

<div *ngIf="showHide" class="mobileNav" fxHide fxShow.lt-sm fxLayout="column" fxLayoutAlign="center center">
  <a href="">Blog</a>
  <a href="">About Me</a>
  <a href="">Projects</a>
  <a href="">Contact</a>
</div>
