<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<article id="wrap">
  <h1>Work</h1>
  <article id="lightings">
    <section id="one">
      <section id="two">
        <section id="three">
          <section id="four">
            <section id="five">
            </section>
          </section>
        </section>
      </section>
    </section>
  </article>
</article>
<div class="row">
  <figure class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
    <img src="/assets/bg.jpg" />
    <figcaption>
      <h2>Creative <span>Zoe</span></h2>
      <p class="icon-links">
        <a href="#"><i class="material-icons md-24">keyboard_arrow_right</i></a>
      </p>
      <p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
    </figcaption>
  </figure>
</div>
